<section role="{{ type }}" class="py-16 md:py-32 bg-cover bg-fixed" style="{{ glide :src="background_image" }}background-image: url({{ url }}); background-position: {{ focus | background_position }};{{ /glide }}">
    <div class="text-left w-full md:w-2/3 lg:w-1/2 px-2 sm:px-4 md:px-8 lg:px-12 py-4 lg:py-0">
        <h2 class="text-5xl font-medium mb-2 text-white leading-snug">{{ headline }}</h2>
        {{ if button_label and button_link }}
            <a class="button white mt-4" href="{{ button_link }}">{{ button_label }}</a>
        {{ /if }}
    </div>
</section>
