<section class="jumbotron relative w-full bg-cover bg-no-repeat bg-center pt-36 px-2 sm:px-4 md:px-6 lg:px-12 pb-24" style="height: 50vh; {{ glide :src="image" }}background-image: url({{ url }}); background-position: {{ focus | background_position }};{{ /glide }}">
    <div class="relative z-5 flex w-full md:w-2/3 lg:w-1/2 h-full justify-center items-center">
        <div>
            <h1 class="text-5xl leading-snug" style="color: white">{{ title }}</h1>
        </div>
    </div>
</section>
<section role="blog" class="bg-gray-100 py-8 md:py-16">
    <div class="container mx-auto">
        <div class="prose max-w-none">
        {{ article }}
            {{ if type == 'text' }}
                {{ text }}
            {{ elseif type == 'inserted_image' }}
                <img src="{{ image:url }}" alt="{{ image:alt }}" style="width: {{ width }}%" class="{{ if position == "left" }} float-left mr-4 mb-4 {{ else }} float-right ml-4 mb-4 {{ /if }}">
            {{ /if }}
        {{ /article }}
        </div>
    </div>
</section>
